{% extends 'base.html' %}
{% block body %}
<h1>{{ title }}</h1>
<table>
<tr>{% for c in cols %}<th>{{ c }}</th>{% endfor %}<th></th></tr>
{% for r in rows %}<tr>{% for c in r %}<td>{{ c }}</td>{% endfor %}
<td>{% if r %}<form method="post" action="{{ action }}" style="display:inline"><input type="hidden" name="del" value="{{ r[0] }}"><button class="danger">X</button></form>{% endif %}</td></tr>{% endfor %}
</table>
{% if add_label %}
<form class="row" method="post" action="{{ action }}">
  {% if add_opts %}<select name="add">{% for o in add_opts %}<option value="{{ o[0] }}">{{ o[1] }}</option>{% endfor %}</select>
  {% else %}<input name="add" placeholder="{{ add_label }}">{% endif %}
  <button>Add</button>
</form>
{% endif %}
{% endblock %}
