{% extends 'base.html' %}
{% block body %}
<h1>TikTok watches</h1>
<table>
<tr><th>User</th><th>Channel ID</th><th></th></tr>
{% for r in rows %}<tr><td>@{{ r.tiktok_username }}</td><td>{{ r.channel_id }}</td>
<td><form method="post" action="/tiktok" style="display:inline"><input type="hidden" name="del" value="{{ r.tiktok_username }}"><button class="danger">X</button></form></td></tr>{% endfor %}
</table>
<form class="row" method="post" action="/tiktok">
  <input name="add_user" placeholder="@username">
  <select name="add_ch">{% for c in channels %}<option value="{{ c[0] }}">{{ c[1] }}</option>{% endfor %}</select>
  <button>Watch</button>
</form>
{% endblock %}
